<html>
  <head>
    <title>New Links | Hacker News</title>
  </head>
  <style type="text/css">
        a:link, a:visited, a:active {
            text-decoration:none;
        }
    </style>
  <script>
	  var i=1;
	  location.refresh();
  </script>

  <body>
    <center>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
          <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="width:18px;padding-right:4px;line-height:1px">
                  <a href=<%= root_path%>> <%= image_tag(src = "y18.gif", size: "18x18", style: "border:1px white solid;", :alt => "rss feed") -%></a>
                </td>
                <td style="line-height:1px">
                  <span class="pagetop">
                    <b><a><%= link_to 'Hacker News', root_path, class:"btn btn-default"%></a></b>
                    <a> <%= link_to 'new', news_path, class:"btn btn-default"%></a>
                    <% if current_user != nil %> | <a href="threads">threads</a> <% end %> 
                    | <%= link_to 'comments', newcomments_path, class:"btn btn-default"%>        
                    | <a><%= link_to 'ask', ask_path, class:"btn btn-default"%></a>
                    | <%= link_to 'submit', submit_path, class:"btn btn-default"%>           
                  </span>
                </td>
                <td style="text-align:right;padding-right:4px;line-height:1px">
                      <% if current_user != nil %>
                        <a href="/user?id=<%= current_user.name %>"><%= current_user.name %> </a> |
                        <a href="<%= destroy_user_session_path %>">logout</a>
                      <% else %>
                        <a href="<%= user_google_oauth2_omniauth_authorize_path%>">login</a>
                      <% end %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr id="pagespace" title="New Links" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <script>while(i < 30)</script>
                <% @comments.each do |comment| %>
                  <tr>
                    <td valign="top" class="votelinks">
                      <% if (current_user != nil && comment.user.id != current_user.id && comment.voted == false) || current_user == nil  %>
                        <center>
                          <div class='votearrow' title='upvote'></div>
                          <a> <%= link_to image_tag(src = "vote.png", size: "10x10", :alt => "rss feed"), vote_comment_path(comment.id), method: :put%>
                          </a>
                        </center>
                      <% end %>
                    </td>
                    <td colspan="2"></td>
                    <td class="subtext">
                      <span class='user'>  <a href="/user?id=<%= comment.user.name %>"><%= comment.user.name %></a> 
                      <span class="age"> <%= link_to time_ago_in_words(comment.created_at) + " ago", {:action => 'show', :id => comment.id} %></span>
                      <% if current_user != nil &&  comment.user.id != current_user.id && comment.voted == true %>
                        <span>
                          | <%= link_to 'unvote', unvote_comment_path(comment.id), method: :put %>
                        </span>
                      <% end %>

                      | <a href="item?id=22864842">parent</a></span> 
                      <a class="togg"></a>   
                      <span class='storyon'> 
                      | on: <a href="/item/<%= comment.contribution.id %>"><%= comment.contribution.title %></a></span>
                    </td>
                    <tr>
                      <td colspan="3"></td>
                      <td>
                      <span class="commtext c00"> <%= comment.content %></span>
                      <div class='reply'></div>
                      </td>
                    </tr>
                  </tr>
                  <tr class="spacer" style="height:15px"></tr>
                <% end %>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <img src="s.gif" height="10" width="0">
            <table width="100%" cellspacing="0" cellpadding="1">
              <tr>
                <td bgcolor="#ff6600"></td>
              </tr>
            </table><br>
            <center>
              <span class="yclinks"><a href="https://news.ycombinator.com/newsguidelines.html">Guidelines</a>
        | <a href="https://news.ycombinator.com/newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="https://news.ycombinator.com/security.html">Security</a>
        | <a href="https://news.ycombinator.com/lists">Lists</a>
        | <a href="https://news.ycombinator.com/bookmarklet.html" rel="nofollow">Bookmarklet</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
        </center>
             </td></tr>
      </table></center>
      
      </body><script type='text/javascript' src='hn.js?QbJiN3cRKlV4dvNUGJpv'></script></html>
